.logon-container {
    width: 100%;
    max-width: 1110px;
    height: 96vh;
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logon-container section.form {
    width: 100%;
    max-width: 400px;
    margin: 30px;
}

.logon-container section img {
    width: 100%;
}
  
.logon-container section.form form {
    margin-top: 40px;
}

.register-link {
    color: #1F1E1E;
    font-family: 400 Roboto, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 20px
}